<div class="mt-5">
  <h1>Tạo khóa học</h1>
  <form method="POST" action="/courses/store" class="row">  
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học: </label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả: </label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
      <label for="videoID" class="form-label">Video: </label>
      <input type="text" class="form-control" id="videoID" name="videoID">
    </div>
    <div class="mb-3">
      <input type="submit" class="btn btn-primary w-100" value="Tạo" />
    </div>
  </form>
</div>
